<!-- Pronto se utilizara el plugin Slick para la presentación de las imagenes como en Nearpod -->
<%- include('../../partials/header.ejs') -%>
<style>
    img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
</style>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Ingresar a la clase: </h4>
        </div>
        <!-- Modal body -->
        <form method="post">
            <div class="modal-body">
                <label>Nombres completos: </label>
                <input id="xnombres" name="xnombres" placeholder="Ingresar sus nombres completos" class="form-control"></input>
                <span id="span_error"></span>
                <label>Apodo: </label>
                <input id="xapodo" name="xapodo" placeholder="Ingresar un apodo" class="form-control"></input>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <input type="button" class="btn btn-success" value="Ingresar" id="btnIngresar">
            </div>
        </form>
      </div>
  </div>
</div>

<% records.forEach(function(presentacion){  %>
    <img id="container-imagen" src="<%= presentacion.file %>" width="850"> 
<% });  %>

<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

<script>
    $(window).load(function()
    {
      $('#myModal').modal({backdrop: 'static', keyboard: false}).css("background-color", "#fafafa");
    });
    $( "#btnIngresar" ).on( "click", function() {
        var nombres = $("#xnombres").val();
        var apodo = $("#xapodo").val();
        if(nombres === ""){
            $('#span_error').html("<div class='alert alert-danger' role='alert' id='cont_error'>Por favor es requerido que llene sus nombres completos</div>")
        } else if (nombres.length<=5) {
            $('#span_error').html("<div class='alert alert-danger' role='alert' id='cont_error'>Debe de tener como mínimo 6 digitos</div>")
        }else{
            $.post('/presentation/register/', { nombres: nombres, apodo: apodo });
            $('#myModal').modal('toggle');
        }
    });
    $(function () {
        var socket = io();
        socket.on('load image', function(data){
            //$('#container-imagen').append($('<li>').text(msg));
            $("#container-imagen").attr("src",data.message);
            $.get("/diapo_actual?codigo=<%= records[0].codigo %>", function(data2, status){
                //$("#container-imagen").attr("src",data2);
                //alert("Data: " + data + "\nStatus: " + status);
            });
        });
    });
</script>

<%- include('../../partials/footer.ejs') -%>