<%- include('../partials/header.ejs') -%>
 
    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand">PlayTecAcademy</a>
        <a class="btn btn-primary" href="/teacher/login">Soy un profesor</a>
      </div>
    </nav>

    <!-- Masthead -->
    <header style="height:calc(100vh - 56px)"class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Ingresar el código para unirte a una clase</h1>
          </div>
          <div class="col-md-6 col-xl-7 mx-auto">
            <form method="get" action="/presentation">
              <div class="form-row">
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <input type="text" class="form-control form-control-lg" name="pin" placeholder="Código...">
                </div>
                <div class="col-12 col-md-6">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">Ingresar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>
  
<%- include('../partials/footer.ejs') -%>