<%- include('../../partials/header.ejs') -%>
  
  <% if(records.length === 0){  %>
  
  <center><h2> No hay clases para este curso  </h2></center>
  
  <% } else {  %>
  
    <!-- Image Showcases 
    <section class="showcase">
      <div class="container-fluid p-0">
        
        <% records.forEach(function(clase){ %>
        
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('http://yodecidocomorecibo.org/wp-content/uploads/2014/05/default_image_01.png');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <a href="/shared/presentation/<%= clase.id %>/<%= clase.id_curso %>" ><h2> <%= clase.nombre %> </h2></a>
            <p class="lead mb-0"> <%= clase.descripcion %> </p>
          </div>
        </div>
        
        <% }); %>
        
      </div>
    </section>-->
    
    <!-- Icons Grid -->
    <section class="features-icons text-center">
      <center><h1>Clases</h1></center><br><br>
      <div class="container">
        <div class="row">
          
          <% records.forEach(function(clase){ %>
          
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="fas fa-book m-auto text-primary"></i>
              </div>
              <h3> <%= clase.nombre %> </h3>
              </a>
              <p class="lead mb-0"> <%= clase.descripcion %> </p></br>
              <a href="/shared/presentation/<%= clase.id_curso %>/<%= clase.id %>"><button class="btn btn-primary">Activar clase</button></a>
            </div>
          </div>
          
          <% }); %>
          
        </div>
      </div>
    </section>
    
  <% } %>
  
<%- include('../../partials/footer.ejs') -%>