<%- include('../../partials/header.ejs') -%>

    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">Codigo</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">
                <div class="col-12 col-md-12 mb-2 mb-md-0">
                  <input type="email" class="form-control form-control-lg" value="<%= records %>" readonly="readonly">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    
<%- include('../../partials/footer.ejs') -%>