<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Profesor Vista</title>
  <link rel="stylesheet" type="text/css" href="/plugins/carousel/css/demo.css"/>
  <link rel="stylesheet" type="text/css" href="/plugins/carousel/css/style.css"/>
  <link rel="stylesheet" type="text/css" href="/plugins/carousel/css/elastislide.css"/>
  
  
</head>
<body>

<%- include('../../partials/header.ejs') -%>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Alumnos conectados</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
        	<ul>
        		<% usuariosConectados.forEach(function(conectado){ %>
        			<li> <%= conectado.nombres %> </li>
        		<% }); %>
        	</ul>
        </div>
      </div>
  </div>
</div>

<%- include('../../partials/footer.ejs') -%>

     <div class="container">
		<div class="content">
			<!-- Button to Open the Modal -->
			  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
			    Ver mis alumnos conectados
			  </button>
		    <div class="codigo-clase"> <%= codigoClase %></div>
		    <div id="rg-gallery" class="rg-gallery">
			    <div class="es-carousel-wrapper">
				    <div class="es-nav">
					    <span class="es-nav-prev">Previous</span>
						<span class="es-nav-next">Next</span>
					</div>
					<div class="es-carousel">
					    <ul id="lista-diapositivas">
					        <% records.forEach(function(presentacion){  %>
					            <li><a href="#"><img src="/images/uploads/<%= presentacion.file %>" data-large="/images/uploads/<%= presentacion.file %>" alt="Imagen" /></a></li>
                            <% }); %>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">	
		<div class="rg-image-wrapper">
			{{if itemsCount > 1}}
				<div class="rg-image-nav">
					<a class="rg-image-nav-prev">Previous Image</a>
					<a class="rg-image-nav-next">Next Image</a>
				</div>
			{{/if}}
			<div class="rg-image"></div>
			<div class="rg-loading"></div>
			<div class="rg-caption-wrapper">
				<div class="rg-caption" style="display:none;">
					<p></p>
				</div>
			</div>
	    </div>
	</script>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="/plugins/carousel/js/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="/plugins/carousel/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="/plugins/carousel/js/jquery.elastislide.js"></script>
	<script>
	var codigo_clase = '<%= codigoClase %>';
	
	/*Modal for view students*/
	$(window).load(function()
    {
      $('#myModal').css("background-color", "#000000");
    	
    });
    
    </script>
	<script type="text/javascript" src="/plugins/carousel/js/gallery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <!--juan.antonio@gmail.com-->
    
</body>
</html>