<%- include('../../partials/header.ejs') -%>
    
    <!-- Solo para mostrar el email del usuario en sesion -->
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand"><strong>Profesor: </strong> <%= apellido %>, <%= nombre %> ( <%= email %> ) </a> 
        <a class="navbar-brand" href="/teacher/logout">Cerrar sesión </a>
    </nav>
    
    
    <!-- Icons Grid -->
    <section class="features-icons text-center">
      <center><h1>Cursos</h1></center><br><br>
      <div class="container">
        <div class="row">
          
          <% records.forEach(function(usuario_and_curso){ %>
          
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="fas fa-book m-auto text-primary"></i>
              </div>
              <a href="/teacher/class_detail/<%= usuario_and_curso.id_curso %>">
              <h3> <%= usuario_and_curso.nombre_curso %> </h3>
              </a>
              <p class="lead mb-0"> <%= usuario_and_curso.descripcion_curso %> </p>
            </div>
          </div>
          
          <% }); %>
          
        </div>
      </div>
    </section>
    
<%- include('../../partials/footer.ejs') -%>