<%- include('../../partials/header.ejs') -%>
<style>
  .section{
    position:absolute;
    width:100%;
    height: 100vh;
    background: url('/images/bg-login-teacher.png');
  }
  .content {
    margin-top: 12%;
  }
  .card{
    border:none;
  }
  .card-plain {
    background: transparent;
    box-shadow: none;
    max-width: 320px;
  }
  .card-header ,.card-footer {
    background-color: transparent;
    border-bottom: none;
    border-top: none;
    
  }
  .logo-container {
    width: 65px;
    margin: 0 auto;
    margin-bottom: 55px;
  }
  .logo-container img {
    width: 100%;
  }
  .input-group {
    margin-bottom: 10px;
    position: relative;
  }
  .input-group-prepend {
    margin-right: 0;
  }
  .form-control {
    background-color: hsla(0,0%,100%,.1);
    color: #fff;
    border-color: hsla(0,0%,100%,.5);
    padding: 15px 19px;
    border: medium none;
    border-radius: 30px;
    font-size: 14px;
  }
  .input-group-text {
    color: hsla(0,0%,100%,.8);
    background-color: hsla(0,0%,100%,.1);
    border: none;
    border-left: transparent!important;
    padding: 15px 0 15px 19px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 30px;
  }
  .form-control:focus {
    background-color: hsla(0,0%,100%,.2);
    color: #fff;
    border-color:none;
    box-shadow:none;
  }
  .form-control::placeholder {
    color: #fff;
  }
  .alert{
    border-radius:0;
  }
  .alert-danger{
    background:#fb483a !important;
    color: #fff;
    border: none;
  }
  .btn-round {
    border-radius: 30px!important;
  }
  .now-ui-icons {
    font: 14px/1 Nucleo Outline;
  }
</style>
<div class="section">
  <div class="content">
    <div class="container">
      <div class="col-md-5 ml-auto mr-auto">
        <div class="card card-login card-plain">
          <form class="form" action="/teacher/login_validate" method="post">
            <div class="card-header text-center">
              <div class="logo-container">
                <img src="https://demos.creative-tim.com/now-ui-kit-pro/assets/img/now-logo.png" alt="">
              </div>
            </div>
            <div class="card-body">
              <div class="input-group no-border input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                </div>
                <input type="email" class="form-control" id="xemail" name="xemail" placeholder="Correo Electrónico"required>
              </div>
              <div class="input-group no-border input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                </div>
                <input type="password" class="form-control" id="xpassword" name="xpassword" placeholder="Contraseña"required>
              </div>
            </div>
            <div class="card-footer text-center">
              <input type="submit" value="Ingresar" class="btn btn-primary btn-round btn-lg btn-block">
            </div>
            <% if (records_error === '') { %>
            <% } else { %>
            <div class="alert alert-danger" role="alert" >
              <%= records_error %>
            </div>
            
            <% } %>
            <!--
            <div class="pull-left">
              <h6><a href="#pablo" class="link footer-link">Create Account</a></h6>
            </div>-->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<center>
<div class="col-md-6">
<h2>Login </h2>


<!--
<form action="/teacher/login_validate" method="post">
  <div class="form-group">
    <label for="">Correo Electrónico</label>
    <input type="email" class="form-control" id="xemail" placeholder="Ingrese se correo electronico" name="xemail">
  </div>
  <div class="form-group">
    <label for="">Contraseña</label>
    <input type="password" class="form-control" id="xpassword" placeholder="Ingrese se contraseña" name="xpassword">
  </div>
  <input type="submit" value="Ingresar" class="btn btn-primary">
</form>-->
</div>
</center>

<%- include('../../partials/footer.ejs') -%>